* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../assests/fonts/Poppins-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assests/fonts/Poppins-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assests/fonts/Poppins-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assests/fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-font-family: "Poppins", sans-serif;
  --secondary-title-color: #4d533c;
  --text-color: #ffffff;
  --secondary-text-color: #b6c197;
  --main-link-color: #d4d6d4;
  --hover-link-color: #ffd723;
  --line-color: #5d6544;
}

body {
  font-family: var(--main-font-family);
  font-weight: 400;
}

img {
  max-width: 100%;
}

.link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--main-link-color);
  line-height: 1;
  transition: color 0.3s ease-in-out;
}

.hero__link,
.link:hover {
  color: var(--hover-link-color);
}

.link span {
  border-bottom: 1px solid currentColor;
  text-indent: 6px;
}

.link svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--main-font-family);
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  --offset-horizontal: 11px;
  --offset-vertical: 14px;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 14px 11px;
  border-radius: 50%;
  background-color: #f5f6f7;
}

.burger__line {
  position: absolute;
  top: var(--offset-vertical);
  left: 50%;
  display: inline-block;
  width: calc(100% - (var(--offset-horizontal)) * 2);
  height: 1.8px;
  background-color: #000000;
  transform: translateX(-50%);
}

.burger__line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}

.burger__line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}

.hero {
  padding-top: 188px;
  padding-bottom: 100px;
  min-height: 811px;
  background-image: url("../assests/img/hero_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 616px;
  padding-bottom: 50px;
  color: var(--text-color);
}

.hero__subtitle {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}

.hero__description {
  margin: 0;
  margin-bottom: 45px;
}

.services {
  padding-top: 140px;
  padding-bottom: 154px;
  margin-bottom: -180px;
}

.services__title {
  margin: 0;
  margin-bottom: 87px;
  max-width: 607px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: var(--secondary-title-color);
}

.services__subtitle {
  margin: 0;
  margin-bottom: 20px;
  max-width: 183px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.services__descriptin {
  margin-bottom: 30px;
  max-width: 194px;
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}

.services__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.services__list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services__link {
  margin-top: auto;
  margin-bottom: 36px;
}

.get-started {
  position: relative;
  top: 180px;
  width: 88%;
  padding: 70px 0;
  background: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started__title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: var(--secondary-title-color);
}

.get-started__link {
  text-transform: uppercase;
}

.footer {
  padding-top: 310px;
  background-image: url("../assests/img/footer_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 52px;
  border-bottom: 1px solid var(--line-color);
}

.footer__contacts-item:not(:last-child) {
  margin-right: 128px;
}

.footer__contacts-text {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 40px;
  color: var(--secondary-text-color);
}

.footer__contacts-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: var(--text-color);
  font-style: normal;
  text-decoration: none;
}

.footer__middle {
  --grid-gap: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
  padding-top: 60px;
}

.footer__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer__link {
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.footer__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-text-color);
}

.footer__mail {
  display: inline-block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: var(--text-color);
  text-decoration: none;
}

.footer__column:last-child {
  position: relative;
}

.footer__column:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: calc(-1 * var(--grid-gap));
  top: 0;
  background: var(--line-color);
}

.social__link {
  display: block;
  width: 33px;
  height: 33px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.social__link--facebook {
  background-image: url("../assests/img/icons/facebook_icon.svg");
}

.social__link--twitter {
  background-image: url("../assests/img/icons/twitter_icon.svg");
}

.social__link--linkedin {
  background-image: url("../assests/img/icons/linkedin_icon.svg");
}

.social__link--google {
  background-image: url("../assests/img/icons/google-plus_icon.svg");
}
